:root {
  --color1: rgb(245, 225, 122);
  --color2: rgb(255, 255, 255);
}


html {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    font-family: gotham rounded,sans-serif;
    color: white;
  }

#this {
    user-select: none;
    font-size: clamp(3rem, 10vw, 10rem);
    margin: clamp(1rem, 2vw, 2rem) 0 -1rem;
}

#byWho {
      text-align: right;
    font-size: clamp(3rem, 1vw, 10rem);
    margin: -1rem 0 1rem;
}


#container {

    position: absolute;

    height: 100%;
    width: 100%;


    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-flow: column;
    align-items: center;

}

#container > #headline {
    width: fit-content;
    user-select: none;
}

#card-container {

    position: relative;

    margin: 0% 0 0%;

    height: fit-content;

    width: calc(60vw - 2vw);
    min-width: 290px;
    max-width: 933px;
    padding: 2vh 5vw;
    
    gap: 0 5%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    perspective: 2000px;
    z-index: 1;

    overflow-y: scroll;

}

.no-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.card {
    position: relative;

    flex: 2 3;

    margin: 0 0 50px;
    min-width: 290px;
    max-width: 450px;

    aspect-ratio: 2 / 3;
    transform: rotateX(0deg) rotateY(0deg);

    border-radius: 30px;

    transition: transform 0.5s ease-in-out, box-shadow 0.2s ease;

    transform-origin: center;
    transform-style: preserve-3d;

    z-index: 10;


}



.card > .side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    backface-visibility: hidden;
    z-index: 10;

}

.card > .front {
    transform: rotateY(0deg);
    cursor: pointer;

}

.card > .back {
    transform: rotateY(180deg);

}

.side > .title {
    width: 91%;
    font-size: 3rem;

    padding: 10px 20px 30px;

    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    border-radius: 30px 30px 0 0;

}


.front > .title {
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.5)  60%, rgba(0,0,0,0.0));

}

.back > .title {
    padding: 10px 20px 0px;
}

.card > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    background-image: url("pics/gg-main.png");
    background-size: cover;
    z-index: 9;
    transition: background-position 1s ease-in-out;
}



/*

  Card Content

*/
.back {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: rgba(0,0,0,0.8) ;

}

.back > .statusbar {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px;
}
.back > .statusbar > .status{
    font-size: 1.5rem;
    width: 30%;
    text-align: center;
}
.back > .statusbar > .tags{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}

.tags > div{
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

.back > .text {

    position: relative;
    border-radius:  0 0 30px 30px;
    padding: 15px;
    max-height: 50%;
    height: auto;
    overflow-y: auto;
    text-align: justify;

}

.back > .links {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 15px;
}

.back > .links > a{

    color: white;
    font-size: 1.3rem;
}

.back > .bigFlex {

    position: relative;
    flex-grow: 1;

}



/*

  Card Turning Effect

*/


.card-turning{
    transition: transform 1s;
    transform: rotateY(180deg);
}


.card:hover  {
    box-shadow: 0px 0px 10px 2px rgba(245, 225, 122, 0.73);
}
.card:hover > .background  {
    transition: all 2s ease;
    background-position: 100% 0;
}

.card-active {
    box-shadow: 0px 0px 10px 2px rgba(245, 225, 122, 0.73);
}

.card-active > .background  {
    transition: all 2s ease;
    background-position: 100% 0;
    filter: grayscale(1);
 }

.wait{
    transition: transform 1s ease, background-position 2s ease;
    box-shadow: 0px 0px 10px 2px rgba(245, 225, 122, 0.73);
    pointer-events: none;
}


.wait > .background  {
  background-position: 100% 0;
}




/*

  BackgroundEffect

*/

#blob {
  height: 70vw;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right,var(--color1), var(--color1));
  animation: rotate 15s infinite;
  opacity: 0.4;
  z-index: -2;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(50vh);
}

/*

  Mobile Stuff

*/

@media only screen and (max-width: 600px) {
  #card-container {
    width: 80vw;
  }
}