:root {
  --color1: rgb(245, 225, 122);
  --color2: rgb(255, 255, 255);
}


html {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    font-family: gotham rounded,sans-serif;
    color: white;
  }

#container {

    position: absolute;

    height: 100%;
    width: 100%;


    display: flex;
    flex-flow: column;
    align-items: center;

    #headline {
        width: fit-content;
        user-select: none;


        #this {
            user-select: none;
            font-size: clamp(3rem, 10vw, 10rem);
            margin: clamp(1rem, 2vw, 2rem) 0 -1rem;
        }

        #byWho {
              text-align: right;
            font-size: clamp(3rem, 1vw, 10rem);
            margin: -1rem 0 1rem;
        }


    }

}


.card-container {

    position: relative;

    margin: 0% 0 0%;
    padding: 5vh 5vw 2vh;

    width: 56vw;
    max-width: 933px;

    gap: 0 5%;

    perspective: 2000px;
    z-index: 1;

    overflow-y: scroll;

    flex-grow: 2;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card-container.big {

    overflow: hidden;
}


.no-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


/*

  Cards

*/

.card {
    position: relative;

    flex: 2 3;

    margin: 0 0 50px;
    min-width: 290px;
    max-width: 450px;

    aspect-ratio: 2 / 3;
    transform: rotateX(0deg) rotateY(0deg);

    border-radius: 30px;

    transition: all 1s ease-in-out;

    transform-origin: center;
    transform-style: preserve-3d;

    z-index: 10;

    .side {
        position: absolute;
        width: 100.1%;
        height: 100.1%;
        border-radius: inherit;
        backface-visibility: hidden;
        background: rgba(0,0,0,0.9) ;
        z-index: 10;

        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {
            min-height: 3rem;
                transition: all 0.5s ease-in-out;

            width: calc(100% - 130px);
            font-size: 3rem;
            padding: 10px 65px 0px;

            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            border-radius: 30px 30px 0 0;

        }


    }

    .front {
        transform: rotateY(0deg);
        cursor: pointer;

        .title {

        white-space: break-spaces;
        }
    }

    .back {
        transform: rotateY(180deg);
        justify-content: space-between;

        .more {

            transition: all  0.5s;
            position: absolute;
            height: 10%;
            aspect-ratio: 1 / 1;
            cursor: pointer;
            color: var(--color1);
            left: 0%;
            top: 0;

        }

         .more:hover {

            scale: 1.1;
        }

        .exit {

            transition: all  0.5s;
            position: absolute;
            height: 10%;
            aspect-ratio: 1 / 1;
            color: var(--color1);
            cursor: pointer;
            right: 0%;
            top: 0;

            svg {
                transition: all  0.5s;
            }


        }

         .exit:hover {

            svg {
                transform: rotateY(180deg);
            }
        }

        .statusbar {

            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

                transition: all 0.5s ease-in-out;
            padding: 15px;



            .status{
                 font-size: 1.5rem;
                transition: all 0.5s ease-in-out;

                 text-align: center;
             }

            .tags{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 5px;
            }

            .tags > div, .status > div{
                color: white;
                font-size: 1rem;
                border-radius: 15px;
                border: 2px solid white;
                padding: 5px;
                text-align: center;
                left: 50%;
                transform: translateX(-0%);
            }

        }


        .slider {
            position: relative;
            min-height: 30%;

            width: 100%;
            overflow: hidden;
            transition: all 0.5s;

            .slider-button {
                position: absolute;
                transition: all 0.5s ease-in-out;
                color: var(--color1);
                top: 45%;
                width: 10%;
                z-index: 11;
                cursor: pointer;
                aspect-ratio: 1;

                svg {
                    position: absolute;
                    transition: all  0.5s;
                }
            }
            .slider-button.mobile {
                background-color: rgba(0,0,0,0);
                top: 0;
                width: 15%;
                height: 100%;

            }

            .slider-button.prev{
                left: 2%;
                transform: rotate(-180deg)


            }

            .slider-button:hover{

                svg {
                    transform: translateX(5%);
                }

            }

             .slider-button.next{
                right: 2%;
            }

            .slide {
                position: absolute;

                transition: all 0.5s ease-in-out;

                cursor: pointer;

                scale: 1;
                height: 100%;
                width: 100%;
                left: 0%;

                background-repeat: no-repeat;
                background-size: contain;
                background-position:center;

            }


            .slide.right {

                scale: 0.1;
                left: 100%;
                color: rgba(0,0,0,0);

            }
            .slide.left {

                scale: 0.1;
                left: -100%;
                color: rgba(0,0,0,0);

            }

        }

         .text {

            position: relative;
            border-radius:  0 0 30px 30px;
                transition: all 0.5s ease-in-out;
            padding: 15px;
            max-height: 50%;
            height: auto;
            overflow-y: hidden;
            text-align: justify;

        }

         .textBlurContainer {

            position: absolute;

            bottom: 0;
            border-radius: 0 0 30px 30px;
            padding: 0px;
            height: 100px;
            width: 100%;
            background: linear-gradient(0deg, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 100%);
            text-align: justify;
            display: flex;
            justify-content: center;
            padding-top: 50px;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;
            transition: all 0.5s;
        }

         .textBlurContainer:hover {

            font-size: 2.2rem;
        }

        .links {

            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            padding: 15px;

             a{

                text-decoration-color: var(--color1);
                color: white;
                font-size: 1.3rem;
            }

        }
    }

    .background {
        position: absolute;
        width: calc(100% - 2px);
        margin: 0 1px;
        height: 100%;
        border-radius: 31px;

        background-size: cover;
        z-index: 9;
        transition: all 2s ease;
        background-position: 50% 0;



    }
}

.card.big {

    position: absolute;
    transition: all 0.5s ease-in-out, height 2s, width 2s;
    top: 5% !important;
    left: 0% !important;
    min-width: clamp(0px, 84%, 933px);
    height: 90% !important;
    margin: 0 5vw;

    .back {

        .more {

            top: -1%;
            left: -1%;

        }

         .more:hover {

            scale: 0.9;
        }

        .exit {

            top: -1%;
            right: -1%;

        }

        .statusbar {
            padding: 15px 5%;


            .tags > div, .status > div{

                font-size: 1.3rem;
            }

            .status {
                font-size: 2rem;
                }
        }

        .bigFlex {
                transition: all 0.5s ease-in-out;
            flex-grow: 0;
        }

         .slider {

            min-height: 55%;


            .slider-button {

                width: 8%;

                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.3);

                svg {
                    top: 0;
                }

            }

            .slider-button.mobile {
                background-color: rgba(0,0,0,0);
                top: 0;
                width: 15%;
                height: 100%;
                border-radius: 0%;

            }

            .slider-button.prev{
                left: 5%;
                transform: rotate(-180deg)


            }

             .slider-button.next{
                right: 5%;
            }

            .slide {

                left: 5%;
                width: 90%;
                cursor: default;

            }

            .slide.right {

                left: 100%;

            }

            .slide.left {

                left: -100%;

            }
        }

        .links {

            justify-content: space-around;
        }
         .text {

            overflow-y: auto;
            flex-grow: 1;
            padding: 0 5%;
            font-size: larger;


        }

         .textBlurContainer {

            height: 0px;
            margin: 0;
            padding: 0;

            color: rgba(0,0,0,0);
            pointer-events: none;
            font-size: 0;

        }

    }
}

.card.left {

    margin-left: -100%;
    scale: 0.9;
    z-index: 2;

}

.card.right {

    margin-left: 100%;
    scale: 0.9;
    z-index: 2;

}

.card.up {

    top: 5% !important;
}


.card.absolute {

    transition: all 1s ease-in-out;

}


.card.active {

    .side {

        .more {

            color: grey;

        }
        .exit {

            color: grey;

        }

    }
}

.bigFlex {

    position: relative;
    flex-grow: 1;

}


.unavailable {
    cursor: default !important;
    color: grey !important;
}
.unavailable:hover {
    svg {
     transform: translateX(0%) !important;
    }
}

/*

  Card Turning Effect

*/


.card-turning{
    transition: transform 1s;
    transform: rotateY(180deg);

}


.card:hover {
    box-shadow: 0px 0px 10px 2px rgba(245, 225, 122, 0.73);
}

.card:hover > .background  {
    transition: all 2s ease;
}

.card-active > .back{
    box-shadow: 0px 0px 10px 2px rgba(245, 225, 122, 0.73);
}

.card-active > .background  {
    filter: opacity(0);
 }

.wait{
    transition: all 1s ease;
    pointer-events: none;
}

.wait > .back {
    box-shadow: 0px 0px 10px 2px rgba(245, 225, 122, 0.73);
}



/*

  Projekt Buttons

*/
.project-button {
    position: absolute;

    transition: all 0.5s ease;

    width: min(200px, 15%);
    cursor: pointer;
    aspect-ratio: 1;
    color: var(--color1);

    bottom: 2%;

    svg {
        transition: all 0.5s ease;
        pointer-events:none;
    }

}
.project-button.prev {
    transform: rotateY(180deg);
    left: calc(5vw / 2 + 50px);

}
.project-button.next {

    right: calc(5vw / 2 + 50px);

}
.project-button:hover{

    svg {
        transform: translateX(5%);
        pointer-events:none;
    }

}

.project-button.hide {

    color: rgba(0,0,0,0);
    pointer-events: none;

}


/*

  BackgroundEffect

*/

#blob {
  height: 70vw;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right,var(--color1), var(--color1));
  animation: rotate 15s infinite;
  opacity: 0.4;
  z-index: -2;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(50vw);
}


/*

  Mobile Stuff

*/

@media only screen and (max-width: 700px) {

    #blob {
      height: 100vh;
    }
    #blur {
      backdrop-filter: blur(100vh);
    }

#container {
    height: 100dvh;
    }

  .card-container {
        width: 100vw;
        max-height: 80dvh;
        padding: 5vh 0vw 0;
        gap: 0 0%;


          .card {
            min-width: 48vw;
            max-width: 48vw;

            margin: 0 0 20px;

            .side {
                .title {
                    padding: 10px;
                    font-size: 2rem;
                    width: auto;
                }

            }


            .back {

                .title {

                    padding: 5px;
                    min-height: 1.5rem;
                    font-size: 1.4rem;
                }


                .statusbar {
                    padding: 5px;

                    .status {
                        font-size: 1rem;

                    }

                    .tags > div, .status > div{
                        color: white;
                        font-size: small;
                        border-radius: 15px;
                        border: 2px solid white;
                        padding: 5px;
                        text-align: center;
                        left: 50%;
                        transform: translateX(-0%);
                    }

                }

                .text {
                    font-size: smaller;
                }

                .textBlurContainer {
                    height: 30px;
                    font-size: 1rem;
                }
            }


          }

      }

  .card-container.big {

        max-height: 74vh;
      }

      .card {
        min-width: 90vw;
        max-width: 90vw;


      }

      .card.big {

            min-width: 96vw;
            margin: 0 2vw;
            font-size: small;



        .back {

          .slider {
            min-height: 35%;
          }



            .title {

                padding: 5px;
                font-size: 2rem;
            }


            .statusbar {
                padding: 15px;

                .status {
                    font-size: 1.2rem;

                }

                .tags > div, .status > div{
                    font-size: small;
                }

            }


            .text {
                font-size: small;
            }

        }

      }


    .card.left {

        margin-left: -100%;

    }

    .card.right {

        margin-left: 100%;

    }

}