@font-face {
    font-family: 'mySpaceFont';
    font-weight: bold;
    src: url("/scr/fonts/goodtimes.otf") format("opentype");
}


body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

}


#overlay-menu {

    position: absolute;
    top: 10px; /* Adjust top position as needed */
    left: 10px; /* Adjust left position as needed */


    .svg-button {
        background-color: rgb(0 0 0 / 50%);
        border: 2px solid #fff;
        border-radius: 15px;
        padding: 10px;
        margin-right: 10px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        color: white;
        transition: 0.5s all;
    }

    .svg-button:hover {
        background-color: rgb(255 255 255 / 80%);
        border: 2px solid #ffffff;

        svg {
            color: black;
        }
    }


}

#text-planetNr {
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-transition: 0.5s ease-in-out;
    font-family: 'mySpaceFont', bold, serif;

    transition: 0.5s ease-in-out;
    color: white;

    font-size: x-large;
}

#youDied {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    background-color: rgba(0, 0, 0, 0); /* Black with 80% opacity */
    z-index: 9999; /* Make sure it's on top of other content */
    transition: all 1s ease-in-out; /* Transition effect */

    div:nth-child(1) {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 96px;
        opacity: 0;
        color: red; /* Text color */
        text-align: center;
    }

    div:nth-child(2) {

        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -10%);
        font-size: 48px;
        opacity: 0;
        color: red; /* Text color */
        text-align: center;
        transition: all 4s ease-in-out; /* Transition effect */
        transition-delay: 2s; /* Delay transitions for 0.5 seconds */
    }

}

#youDied.fade-in {
    background-color: rgba(0, 0, 0, 1); /* Black with 80% opacity */

    div {
        opacity: 1;
    }
}

#overlay-pause {
    position: absolute;
    top: 20%;
    right: 30%;
    height: 60%;
    width: 40%;
    pointer-events: none;

    padding: 25px;
    flex: 1; /* Equal width for both columns */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; /* Arrange items vertically */
    font-family: 'mySpaceFont', bold, serif;

    background-color: rgba(0, 0, 0, 0.8); /* Black with 80% opacity */
    z-index: 9999; /* Make sure it's on top of other content */
    transition: all 0.5s ease-in-out; /* Transition effect */

    opacity: 0;

    border-radius: 10%;
    border: white 2px solid;

    color: white;

    text-align: center;

    td {

        padding: 8px;
        text-align: left;

        a {
            color: white;
            pointer-events: none;
        }
    }

}

#overlay-pause.fade-in {

    opacity: 1;

    td {

        a {

            pointer-events: auto;
        }
    }
}

#overlay-mobileControl {

    position: absolute;

    top: 0; /* Adjust top position as needed */
    left: 0; /* Adjust left position as needed */
    height: 100%; /* Adjust left position as needed */
    width: 100%; /* Adjust left position as needed */

    display: none;
    pointer-events: none;

    #rightButton {
        height: 11%;
        width: 15%;
        right: 10%;
        bottom: 5%;

    }

    #leftButton {
        height: 11%;
        width: 15%;
        left: 10%;
        bottom: 5%;

        svg {
            transform: rotate(180deg);
        }
    }

    #topButton {
        height: 5%;
        width: 30%;
        left: 42%;
        bottom: 11%;

        svg {
            transform: rotate(270deg);
        }
    }

    #bottomButton {
        height: 5%;
        width: 30%;
        left: 42%;
        bottom: 5%;

        svg {
            transform: rotate(90deg);
        }
    }

    #worldButton {
        height: 11%;
        width: 15%;
        left: 26%;
        bottom: 5%;

    }

    .svg-button {
        position: absolute;
        background-color: rgb(0 0 0 / 50%);
        border: 2px solid #fff;
        border-radius: 15px;
        margin-right: 10px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        color: white;
        transition: 0.5s all;
        pointer-events: all;

        svg {
            width: 4vh;
            pointer-events: none;
        }
    }

    .svg-button:hover {
        background-color: rgb(255 255 255 / 80%);
        border: 2px solid #ffffff;

        svg {
            color: black;
        }
    }

}

#youWon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    background-color: rgba(0, 0, 0, 0); /* Black with 80% opacity */
    z-index: 9999; /* Make sure it's on top of other content */
    transition: all 1s ease-in-out; /* Transition effect */

    div:nth-child(1) {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 96px;
        opacity: 0;
        color: goldenrod; /* Text color */
        text-align: center;
    }

    div:nth-child(2) {

        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -10%);
        font-size: 48px;
        opacity: 0;
        color: gold; /* Text color */
        text-align: center;
        transition: all 4s ease-in-out; /* Transition effect */
        transition-delay: 2s; /* Delay transitions for 0.5 seconds */
    }

}

#youWon.fade-in {
    background-color: rgba(0, 0, 0, 1); /* Black with 80% opacity */

    div {
        opacity: 1;
    }
}

#overlay-planet {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;

    p {
        font-family: 'mySpaceFont', bold, serif;
        position: absolute;
        max-width: 25%;
        padding: 2%;
        pointer-events: none;
        margin: 0;

        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    a {
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    .line {
        content: '';
        position: absolute;
        transform-origin: left top; /* set rotation origin */
        background-color: white;
        border-radius: 100px;

        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    #TL {
        top: 5%;
        left: 0;
        font-size: xx-large;
    }

    #TR {

        top: 0;
        right: 3%;
        font-size: xx-large;
    }

    #BL {
        bottom: 0;
        left: 0;
    }

    #BR {

        bottom: 2%;
        right: 3%;
        pointer-events: all;
        font-size: xxx-large;
    }


    #lineTL1 {
        height: 5px; /* adjust height as needed */
        width: 5%;
        top: 10%;
        left: 25%;
        transform: rotate(0deg); /* rotate the pseudo-element */
    }

    #lineTL2 {
        height: 5px; /* adjust height as needed */
        width: 15%;
        top: 9.9%;
        left: 29.9%;
        transform: rotate(45deg); /* rotate the pseudo-element */
    }

    #lineTR1 {
        height: 15%; /* adjust height as needed */
        width: 5px;
        top: 7%;
        right: 15%;
        transform: rotate(0deg); /* rotate the pseudo-element */
    }

    #lineTR2 {
        height: 25%; /* adjust height as needed */
        width: 5px;
        top: 21.7%;
        right: 14.9%;
        transform: rotate(60deg); /* rotate the pseudo-element */
    }

    #lineBR1 {
        height: 5px; /* adjust height as needed */
        width: 5%;
        bottom: 6.5%;
        right: 32%;
        transform: rotate(0deg); /* rotate the pseudo-element */
    }

    #lineBR2 {
        height: 5px; /* adjust height as needed */
        width: 25%;
        bottom: 6.3%;
        right: 36.7%;
        transform-origin: right top; /* set rotation origin */
        transform: rotate(60deg); /* rotate the pseudo-element */
    }

}

.overlay-hide {

    #text-planetNr {

        color: white !important;
    }

    p {
        color: rgba(0, 0, 0, 0);
    }

    a {
        color: rgba(0, 0, 0, 0);
        pointer-events: none;
    }


    .line {
        background-color: rgba(0, 0, 0, 0) !important;
    }

    #BR {
        pointer-events: none;
    }
}


.info {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    mix-blend-mode: difference;
}


@media screen and (max-width: 768px) {


    #text-planetNr {
        right: 1%;
        font-size: medium;
    }

    #overlay-mobileControl {

        display: block; !important;
    }


    #overlay-pause {

        top: 10%;
        left: 5%;
        height: 85%;
        width: 88%;
        padding: 1%;
        font-size: small;


        h2 {
            margin: 2px 0px ;
        }

        td {
            padding: 2px 8px ;
        }

    }
}